<!DOCTYPE html>
<html>
<head>
  <title>Goodfoodhunting</title>
  <%= stylesheet_link_tag 'front', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="top-nav">
    <h3>header</h3>
    <h4><%= session[:user_id] %></h4>
  </header>

    <main class="content">

      <%= yield %>
    </main>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- <script> -->
<!--     // $(window).on('scroll', function() {
    //   if ($(window).scrollTop() > 100) {
    //     $('.top-nav').addClass('mini');
    //   } else {
    //     $('.top-nav').removeClass('mini');
    //   }
    // }) -->
  <!-- </script> -->
</body>
</html>
